body {
    font-family: sans-serif;
    background-color: #fff0cd;
}
input {
    width: 400px;
}
#links a {
    margin:0 0 0 8px;
}
#output {
    height: 400px;
    overflow: auto;
}
video {
    width: 90%;
    max-width: 800px;
}